<div class="error-container">
    <!-- Imagen principal de error 404 -->
    <img [src]="imagenes[7]" alt="Error 404" class="error-image" />
    
    <h1 class="error-title">¡Ups! Página No Encontrada</h1>
    
    <p class="error-message">
      Lo sentimos, pero la página que estás buscando no existe.<br>
      Tal vez el enlace está roto o la página se ha mudado.<br>
      No te preocupes, ¡a veces incluso los mejores navegantes se pierden!
    </p>
  
    
    <a routerLink="/home" routerLinkActive="active" class="error-button">Volver al Inicio</a>
  
    
    <div class="error-fun-fact">
      <p>¿Sabías que el error 404 es el más famoso de todos los errores?</p>
      <p>¡Es como el unicornio de los errores de página!</p>
    </div>
  
   
    <div class="error-interactive">
      <h2>¡Mientras tanto, aquí tienes algo divertido!</h2>
      <p>Intenta hacer clic en la imagen para ver qué sucede:</p>
      <img src="https://64.media.tumblr.com/tumblr_m4gjiiSWOc1rn95k2o1_500.gif" alt="Interacción Divertida" class="fun-interaction-image" />
      <br><br>
      <p>¡Esperamos que eso te saque una sonrisa!</p>
    </div>
  
    
    <div class="error-inspirational">
      <p>"No te preocupes por los errores. Solo asegúrate de que las páginas sean memorables."</p>
      
    </div>
  </div>
  