

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>Sobre Nosotros</h2>
      <p>
        Somos una empresa dedicada a la venta de ropa de alta gama, buscando las mejores telas para su fabricación y cumpliendo con los requisitos de nuestros clientes.
      </p>
    </div>

    <div class="footer-section links">
      <h2>Enlaces</h2>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h2>Contáctanos</h2>
      <p>Teléfono: +593 992 149 155</p>
      <div class="social-media">
        <a href="https://www.facebook.com/groups/775488456672305/" aria-label="Facebook" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/vertichemx" aria-label="Twitter" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/trendyboutique_ec/?hl=es-la" aria-label="Instagram" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 TrendWear. Todos los derechos reservados.</p>
  </div>
</footer>

