

/* Estilos generales para el contenedor del formulario */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  /* Estilos para el título del formulario */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  /* Estilos para los grupos de formulario */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Estilos para las etiquetas del formulario */
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  /* Estilos para los campos de entrada */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  /* Estilos para el botón de envío */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
  }
  
  /* Estilos para el botón de envío al pasar el ratón sobre él */
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  /* Estilos para el botón de envío al recibir el foco */
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  