<div class="container mt-5">
  <!-- Ícono para regresar a la página de productos -->
  <div class="back-icon" (click)="goToProducts()">
    <i class="fi fi-br-arrow-left"></i>
    <span>Volver</span>
    
  </div>

  <h1>Carrito de Compras</h1>

  <!-- Lista de productos en el carrito -->
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div *ngFor="let item of cartItems" class="cart-item">
      <img [src]="item.image" class="img-fluid cart-item-image" [alt]="item.name">
      <div class="cart-item-details">
        <h5>{{ item.name }}</h5>
        <p>Precio: ${{ item.price }}</p>
        <p class="item-quantity"><strong>Cantidad:</strong> {{ item.quantity }}</p>
      </div>
      
      <div class="item-actions mt-3">
        <button (click)="increaseQuantity(item.id)" class="btn btn-primary mr-2">
            Añadir más
        </button>
        <button (click)="decreaseQuantity(item.id)" class="btn btn-warning mr-2">
            Disminuir
        </button>
        <button (click)="removeFromCarrito(item.id)" class="btn btn-danger">
            Eliminar
        </button>
      </div>
      <hr>
    </div>

    <h4>Total: ${{ totalPrice }}</h4>
    
    <button class="btn btn-danger mt-3" (click)="clearCart()">Vaciar Carrito</button>
    <br><br>
    <button class="btn btn-primary">Generar Pago</button>
  </div>

  <ng-template #emptyCart>
    <p>Tu carrito está vacío.</p>
  </ng-template>
</div>
