form {
  max-width: 450px;
  margin: 30px auto;
  padding: 25px;
  border: 2px solid #2c3e50;
  border-radius: 12px;
  background-color: #ecf0f1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', sans-serif;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 60px;
  height: 60px;
}

h2 {
  font-size: 20px;
  color: #2c3e50;
  margin-top: 10px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: #2c3e50;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  background-color: #fff;
  color: #2c3e50;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #34495e;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #34495e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #95a5a6;
}

button:hover {
  background-color: #2c3e50;
}

button[type="button"] {
  background-color: #e74c3c;
}

button[type="button"]:hover {
  background-color: #c0392b;
}

small {
  color: #e74c3c;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

input:invalid {
  border-color: #e74c3c;
}

input:invalid:focus {
  border-color: #e74c3c;
  box-shadow: none;
}

.success-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda; /* Color de fondo verde claro */
  color: #155724; /* Color del texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde claro */
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
}


