<form [formGroup]="form" (ngSubmit)="onClickRegister()">
  <div class="form-header">
    <img src="https://e7.pngegg.com/pngimages/146/551/png-clipart-user-login-mobile-phones-password-user-miscellaneous-blue.png" alt="Icono de Usuario" class="user-icon" />
    <h2>Registrarse como nuevo usuario</h2>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.['required']">El email es obligatorio.</small>
      <small *ngIf="form.get('email')?.errors?.['email']">Email no válido.</small>
    </div>
  </div>

  <div>
    <label for="password">Contraseña:</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
    </div>
  </div>

  <div>
    <label for="checkPassword">Confirmar Contraseña:</label>
    <input id="checkPassword" formControlName="checkPassword" type="password" />
    <div *ngIf="form.get('checkPassword')?.invalid && form.get('checkPassword')?.touched">
      <small *ngIf="form.get('checkPassword')?.errors?.['required']">Confirmar contraseña es obligatorio.</small>
      <small *ngIf="form.get('checkPassword')?.errors?.['confirm']">Las contraseñas no coinciden.</small>
    </div>
  </div>

  <div>
    <label for="nickname">Apodo:</label>
    <input id="nickname" formControlName="nickname" type="text" />
    <div *ngIf="form.get('nickname')?.invalid && form.get('nickname')?.touched">
      <small *ngIf="form.get('nickname')?.errors?.['required']">El apodo es obligatorio.</small>
    </div>
  </div>

  <div>
    <label for="phoneNumber">Número de Teléfono:</label>
    <input id="phoneNumber" formControlName="phoneNumber" type="text" />
    <div *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
      <small *ngIf="form.get('phoneNumber')?.errors?.['required']">El número de teléfono es obligatorio.</small>
    </div>
  </div>

  <div>
    <label for="photoURL">Foto URL:</label>
    <input id="photoURL" formControlName="photoURL" type="text" />
  </div>

  <button type="submit" [disabled]="form.invalid">Registrarme</button>
  <br><br>
  <button type="button" (click)="onClickRegisterWithGoogle()">Registrar con Google</button>
</form>
